{% extends "base.html" %} {% load static %} {% block title %} Acerca de nosotros {% endblock %} {% block content %}
<div class="bg-faded p-4 roundedr br-5">
    <div>
        <h2 class="display-5"><strong>¿Quiénes somos?</strong></h2>
        <div class="container display-center">
            <h3 class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum possimus debitis pariatur placeat ipsa assumenda labore! Aperiam quo necessitatibus nisi recusandae fuga itaque quae eligendi maiores sapiente qui quod aliquid vero, laudantium error non
                minus, neque laboriosam, enim natus repudiandae excepturi. Tenetur ipsam ullam odit fugit sed soluta mollitia id. Ea perferendis tempore doloremque autem consequuntur. Officia, eos. Reprehenderit sit provident perspiciatis aperiam a repellat
                libero ex dolorum voluptates! Ipsa.
            </h3>
        </div>
        <br>
        <h2 class="display-5"><strong>Nuestros origenes</strong></h2>
        <div class="container display-center">
            <h3 class="text-justify">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi error voluptatum expedita, perspiciatis delectus nostrum. Iusto expedita aperiam commodi et, sapiente odit at quo voluptatum consectetur vitae laboriosam minus debitis repellendus optio
                nobis eius, quisquam earum dignissimos assumenda magnam officia hic explicabo? Tempore, quia obcaecati! Ab labore vitae inventore dicta?
            </h3>
        </div>
        <br>
        <h2 class="display-5"><strong>Metas a futuro</strong></h2>
        <div class="container display-center">
            <h3 class="text-justify">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum error repudiandae ut odit molestias voluptas, ipsum repellat necessitatibus iure rem nobis unde voluptatibus cum repellendus! Ducimus blanditiis laboriosam facilis totam? Fugiat, neque
                quidem ab eveniet eos quasi natus qui beatae aut facere quo harum deserunt itaque suscipit a, cum perspiciatis repellat velit, quos error est nemo corrupti necessitatibus. Consectetur eum cum quasi maxime laborum soluta deleniti quos quia
                magni temporibus doloremque similique, optio ratione, facilis sit suscipit, reprehenderit assumenda atque repellat repellendus ab officia architecto maiores quod. Labore corporis excepturi odit. Quae autem maxime rerum officiis alias quis
                nisi hic.
            </h3>
        </div>
    </div>
</div>
{% endblock %}