{% extends "base.html" %} {% load static %} {% block title %} Carrito {% endblock %} {% block content %}
<div class="bg-faded p-4 roundedr br-5">
    <div>
        <h2 class="display-5"><strong>Carrito de compras:</strong></h2>
        <br>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% if request.session.carro.items %} {% for key, value in request.session.carro.items %}
                    <tr class="text-center">
                        <td>{{value.nombre}}</td>
                        <td>
                            <a href="{% url 'carro:restar' value.producto_id %}" class="btn">-</a> {{value.cantidad}}
                            <a href="{% url 'carro:sumar' value.producto_id %}" class="btn">+</a>
                        </td>
                        <td class="d-flex justify-content-between">
                            <a href=""></a>$ {{value.precio}}<a href="{% url 'carro:eliminar' value.producto_id %}" class="btn btn-sm btn-danger">X</a>
                            <a href=""></a>
                        </td>
                    </tr>
                    {% endfor %} {% else %}
                    <tr>
                        <td colspan="3">
                            <div class="text-center">
                                <h2 style="color: rgb(200, 10, 10);"><strong>Sin productos</strong></h2>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">
                            <strong>Total:</strong> ${{importeTotalCarro}} {% if request.session.carro.items %}
                            <a href="{% url 'carro:limpiar' %}" class="btn btn-secondary">Limpiar carro</a> {% endif %}
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="d-grid col-3 mx-auto pl-5">
                <a href="../factura" class="btn btn-primary" type="button">FINALIZAR COMPRA</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}