{% extends "base.html" %} {% block title %} Productos {% endblock %} {% load static %} {% block content %}
<div>
    <section>
        <br> {% for productos in productos %}
        <div class="container" style="max-width: 98%;">
            <div class="card">
                <div class="card-header h2 text-center" style="text-transform: capitalize;"><strong>{{productos.nombre}}</strong></div>
                <div class="card-body d-flex">
                    <div>
                        <p><img src="../static/img/productos/{{productos.imagen}}" style="width: 300px; height: 300px;"></p>
                    </div>
                    <div class="container">
                        <h3 class="card-title" style="text-transform: capitalize;"><strong>Categoría:</strong> {{productos.seccion}}</h3>
                        <h3 class="card-text text-justify"><strong>Descripción:</strong> {{productos.descripcion}}</h3>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <p class="card-text mt-2 h3"><strong>Precio:</strong> ${{productos.precio}}</p>
                        <div>
                            {% if user.is_authenticated %}
                            <a href="{% url 'carro:agregar' productos.id %}" class="btn btn-secondary">Agregrar al carrito</a> {% endif %} {% if perms.polls %}
                            <a href="../editar/{{productos.id}}" class="btn btn-warning">Editar</a>
                            <a href="../eliminar/{{productos.id}}" class="btn btn-danger">Eliminar</a> {% endif %} {% if not user.is_authenticated %}
                            <a href="/login" class="btn btn-secondary">Agregrar al carrito</a> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>{% endfor %}
</div>
</div>
{% endblock %}